<!DOCTYPE html>
<html lang="en" xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Display user information</title>
</head>
<body>
<h3> User information: </h3>
<b>First Name : </b>   {{ first_name }} <br/>
<b>Last Name : </b>  {{ last_name }} <br/>
<b>Email ID : </b> {{ email }} <br/>
<b>Wordcount :</b> {{ wordcount }} <br/>
<div>
<a href="/login">Login</a> <br/>
    {% if filename == '' %}
        <p> You didn't upload any file!</p>
    {% else %}
        <a name="download" class="btn btn-default" target="blank" href="/download/{{filename}}"> Download</a>
    {% endif %}

</div>
</body>
</html>