<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<div>
    <form action="/login" method="post">
        <label>Username</label><br>
        <input name="username" type="text" placeholder=" "><br><br>
        <label>Password</label><br>
        <input name="password" type="password" placeholder=" "><br><br>
        <input type="submit" value="Login"><br><br>
    </form>
</div>
<a href="/register">Register</a>
<!--<div>-->
<!--    <form action="/new">-->
<!--        <label>New User</label>-->
<!--        <input value="Register" type="submit">-->
<!--    </form>-->
<!--</div>-->
</body>
</html>