<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register User</title>
    <link href="{{ url_for('static', filename='profile.html') }}" rel="stylesheet">
</head>
<body>
<div>
    <form action="/register" method="post">
        <label>First Name:</label><br>
        <input name="firstname" type="text" required><br><br>
        <label>Last Name:
        </label><br>
        <input name="lastname" type="text" required><br><br>
        <label>Email:
        </label><br>
        <input name="email" type="email" required><br><br>
        <label>Username:
        </label><br>
        <input name="username" type="text" required><br><br>
        <label>Password:
        </label><br>
        <input name="password" type="password" required><br><br>
        <input type="submit" value="Register">
    </form>
</div>
<br/>
Already have an account? <a href="/login">Login</a>
</body>
</html>